<div class="container">    

<button type="button" class="btn btn-outline-primary person">Person | P</button>
<button type="button" class="btn btn-outline-secondary location">Location | L</button>
<button type="button" class="btn btn-outline-success organization">Organization | O</button>
<button type="button" class="btn btn-outline-danger event">Event | E</button>
<button type="button" class="btn btn-outline-warning date">Date | D</button>
<button type="button" class="btn btn-outline-info other">Other | O</button>

<br><br>
<script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous">
</script>
<span class="">
    Barack Hussein Obama II (born August 4, 1961) is an American attorney and politician 
    who served as the 44th President of the United States from January 20, 2009, to 
    January 20, 2017. A member of the Democratic Party, he was the first African 
    American to serve as president. He was previously a United States Senator from 
    Illinois and a member of the Illinois State Senate.
</span><br>
<script>
    $(function() {
        $('.person').on('click', function() {
            var selectionSpan = selection();
            var button = document.createElement("button");
            button.innerHTML='X';
            button.className="cross dot";
            selectionSpan.appendChild(button);
            selectionSpan.style.background="blue";
        });
        $('.location').on('click', function() {
            var selectionSpan = selection();
            var button = document.createElement("button");
            button.innerHTML='X';
            button.className="cross dot";
            selectionSpan.appendChild(button);
            selectionSpan.style.background="gray";
        });
        $('.organization').on('click', function() {
            var selectionSpan = selection();
            var button = document.createElement("button");
            button.innerHTML='X';
            button.className="cross dot";
            selectionSpan.appendChild(button);
            selectionSpan.style.background="green";
        });
        $('.event').on('click', function() {
            var selectionSpan = selection();
            var button = document.createElement("button");
            button.innerHTML='X';
            button.className="cross dot";
            selectionSpan.appendChild(button);
            selectionSpan.style.background="red";
        });
        $('.date').on('click', function() {
            var selectionSpan = selection();
            var button = document.createElement("button");
            button.innerHTML='X';
            button.className="cross dot";
            selectionSpan.appendChild(button);
            selectionSpan.style.background="orange";
        });
        $('.other').on('click', function() {
            var selectionSpan = selection();
            var button = document.createElement("button");
            button.innerHTML='X';
            button.className="cross dot";
            selectionSpan.appendChild(button);
            selectionSpan.style.background="#17a2b8";
        });
    });
    function selection() {
        try {
            if (window.ActiveXObject) { return document.selection.createRange().htmlText; }
            var span = document.createElement("span");
            getSelection().getRangeAt(0).surroundContents(span);
            
            return span;
        } catch (e) {
            if (window.ActiveXObject) { return document.selection.createRange(); }
            return getSelection();
        }
    }

</script> 
</div>